<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <link href="{{ url_for("static", filename="styles.css") }}" rel="stylesheet">

    <title>Matrix Calculator</title>
</head>
<body>

<div class="container pt-4">
    <section class="text-center">
        <h1>Matrix Calculator</h1>
        <h4 class="text-muted">Distributed Systems (ECS656U)</h4>

        <div class="alert alert-info mt-5 mx-auto">
            Please note that this calculator only supports matrix multiplication
        </div>
    </section>

    <section class="mt-5 text-center" id="input_section">
        <div class="row">
            <div class="col mb-3">
                <label for="input_file_1" class="form-label fw-bold">File 1</label>
                <input class="form-control" type="file" id="input_file_1" onchange="load_matrix(1)" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback" id="input_1_invalid_feedback">
                    Missing file! Please select a matrix file to multiply.
                </div>

                <div id="input_1_table_container"></div>
            </div>

            <div class="col mb-3">
                <label for="input_file_2" class="form-label fw-bold">File 2</label>
                <input class="form-control" type="file" id="input_file_2" onchange="load_matrix(2)" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback" id="input_2_invalid_feedback">
                    Missing file! Please select a matrix file to multiply.
                </div>

                <div id="input_2_table_container"></div>
            </div>
        </div>

        <div class="text-center mt-4">
            <button class="btn btn-primary btn-lg fw-bold fs-3" onclick="calculate_matrix_multiplication()">
                Calculate
            </button>
        </div>
    </section>

    <section class="text-center mt-5 d-none" id="output_section">
        <h3>Result!</h3>

        <div id="output_table_container"></div>

        <button class="btn btn-danger btn-lg fw-bold mt-4" onclick="window.location.reload();">Restart</button>
    </section>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

<script>
    let matrix_1 = [];
    let matrix_2 = [];

    function load_matrix(matrix_num) {
        let input_1 = document.querySelector("#input_file_1");
        let input_2 = document.querySelector("#input_file_2");
        let matrix;
        let input;
        let table;

        {# TODO: ensure matrices are square #}

        let reader = new FileReader();
        reader.onload = function () {
            let lines = this.result.split('\n');
            for (let line_no = 0; line_no < lines.length; line_no++) {
                let row = lines[line_no].replace("\r", "");

                if (/^(?=.*\d)[\d ]+$/.test(row))
                    matrix.push(row.split(" "));
                else {
                    matrix = [];

                    input.parentElement.querySelector("#input_2_invalid_feedback").innerText = "File could not be parsed! Ensure file is structured correctly.";
                    input.classList.remove("is-valid");
                    input.classList.add("is-invalid");

                    return;
                }
            }

            build_table(table, matrix);
        };

        if (matrix_num === 1) {
            matrix = matrix_1;
            input = input_1;
            table = document.querySelector("#input_1_table_container");

            reader.readAsText(input_1.files[0]);

            input_1.classList.remove("is-invalid");
            input_1.classList.add("is-valid");
        } else {
            matrix = matrix_2;
            input = input_2;
            table = document.querySelector("#input_2_table_container");

            reader.readAsText(input_2.files[0]);

            input_2.classList.remove("is-invalid");
            input_2.classList.add("is-valid");
        }
    }

    function calculate_matrix_multiplication() {
        let input_1 = document.querySelector("#input_file_1");
        let input_2 = document.querySelector("#input_file_2");
        let valid = true;

        if (matrix_1.length === 0) {
            input_1.parentElement.querySelector("#input_1_invalid_feedback").innerText = "Missing file! Please select a matrix file to multiply.";
            input_1.classList.remove("is-valid");
            input_1.classList.add("is-invalid");
            valid = false;
        }

        if (matrix_2.length === 0) {
            input_2.parentElement.querySelector("#input_2_invalid_feedback").innerText = "Missing file! Please select a matrix file to multiply.";
            input_2.classList.remove("is-valid");
            input_2.classList.add("is-invalid");
            valid = false;
        }

        if (!valid) return;

        let form_data = new FormData();
        form_data.append('matrix_1', matrix_1.map(e => e.join(',')).join(';'));
        form_data.append('matrix_2', matrix_2.map(e => e.join(',')).join(';'));

        fetch("{{ url_for("main.multiply") }}", {
            method: "POST",
            body: form_data
        })
            .then(response => response.json())
            .then(function (data) {
                document.querySelector("#input_section").classList.add("d-none");
                build_table(document.querySelector("#output_table_container"), data["result"].split(";").map(e => e.split(",")));
                document.querySelector("#output_section").classList.remove("d-none");
            })
    }

    function build_table(table, matrix_data) {
        let table_html = '<table class="table table-bordered w-auto mx-auto mt-4 fw-bold"><tbody>'

        matrix_data.forEach(function (row) {
            table_html += `<tr>`;
            row.forEach(function (item) {
                table_html += `<td class="pt-4 fs-5" style="width: 4em !important; height: 4em;">${item}</td>`
            })
            table_html += `</tr>`;
        });

        table_html += '</tbody></table>';

        table.innerHTML = table_html;
    }
</script>
</body>
</html>